<form>
    <mat-dialog-content>
        <app-add-row-form
            [metaData]="data.metaData"
            [addEditRowForm]="addEditRowForm"
        ></app-add-row-form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="onSubmit()"
        >
            OK
        </button>
        <button
            type="button"
            mat-button
            mat-dialog-close
        >
            Cancel
        </button>
    </mat-dialog-actions>
</form>
