<div *ngIf="treegridColumns && treegridColumns.length > 0">
<ejs-treegrid
    #treegrid
    [dataSource]='data'
    [enableVirtualization]=true
    [height]='height'   
    childMapping='subRows' 
    [contextMenuItems]='contextMenuItems'
    (contextMenuOpen)='contextMenuOpen($event)'
    (contextMenuClick)='contextMenuClick($event)'
    [editSettings]='editSettings'
    [treeColumnIndex]='1' 
    [columns]='treegridColumns'
>
    <!-- <e-columns> 
        <ng-container *ngFor="let colls of columns">
            <e-column       
            field='col1.value'
            headerText='dkfdkf'
            width='120'
            textAlign='Right'
            >
            </e-column>
        </ng-container>         
        <ng-container *ngFor="let col of columns; let i = index;">
            <e-column
            field='col1.value'
            headerText='col.name'
            width='120'
            textAlign='Right'
            >
            </e-column>
        </ng-container> 
        <e-column
            field='id.value'
            [headerText]='column'
            width='120'
            textAlign='Right'
        ></e-column>
        <e-column
            field='name'
            headerText='Name'
            width='120'
            textAlign='Right'
        ></e-column>
        <e-column
            field='age'
            headerText='age'
            width='120'
        ></e-column>
        <e-column
            field='exField1'
            headerText='exf1'
            width='100'
            textAlign='Right'
        ></e-column>
        <e-column
            field='exField2'
            headerText='exf2'
            width='120'
            textAlign='Right'
        ></e-column>
    </e-columns> -->
</ejs-treegrid>
</div>
<div
    #container
    class='root-container'
></div>
<ejs-dialog
    id='dialog'
    #ejDialog
    isModal='true'
    [visible]='false'
    [target]='targetElement'
    width='400px'
>
    <ng-template #content>
        <div *ngIf="selectedMenuItem == 'editcol'">
            <app-edit-col-form
                [selectedColumn]="selectedColumn"
                [hideDialog]="hideDialog"
                [updateColumn]="updateColumn"
                [metaData]="metaData"
            ></app-edit-col-form>
        </div>
    </ng-template>
</ejs-dialog>
